.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.hamburger-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidenav {
  display: flex;
  color: var(--sidenav-color);
  font-family: var(--mobile-buttons-font-family);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  padding: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: white;
}

.menu-items {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  gap: 1.5rem;
  padding: 4.4rem 1rem;
  width: 100%;
  box-sizing: border-box;
}
.searchInput {
  display: block;
  width: 100%;
  max-width: calc(100% - 32px);
  height: 44px;
  padding: 10px 10px 10px 40px;
  border: 1px solid #000;
  outline: none;
  box-sizing: border-box;

  background-image: url("/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
}
.menu-items li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sidenav ul {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  gap: 1.5rem;
}

.sidenav a {
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  color: #000;
  text-decoration: none;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 1.25rem;
  left: 1rem;
  z-index: 10;
  font-size: 1.5rem;
  color: grey;
  cursor: pointer;
}
.left-side {
  display: none; /*none*/
  flex-direction: column;
}

.link-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.link {
  display: inline-block;
  padding: 10px 10px 0 0;
}
.left-side a,
.hamburger-btn p,
.shopping-cart a,
.favorites a {
  font-family: "IBM Plex Sans JP";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.logo-homepage {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
  width: 9rem;
  height: 3rem;
  margin-top: 0.7rem;
  padding: 0.5rem;
  flex-shrink: 0;
}

.logo-homepage img {
  max-width: 100%;
  height: auto;
}

.shopping-cart {
  display: flex;
  width: 6rem;
  height: 1.5rem;
  flex-shrink: 0;
}
.favorites {
  display: none;
}
.shopping-cart a,
.favorites a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.shopping-cart img,
.favorites img {
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 1px;
  stroke: #4f755b;
}
.right-side {
  display: flex;
  gap: 2.5rem;
}

@media (min-width: 1060px) {
  .sidenav {
    width: 0;
    height: 0;
  }
  .hamburger-btn {
    display: none;
  }
  .header {
    height: 10rem;
    padding: 0.6rem 3rem;
  }
  .left-side {
    display: flex;
  }
  .searchInput {
    width: 25rem;
  }

  .logo-homepage {
    width: 9rem;
    height: 3rem;
  }
  .right-side {
    top: 96px;
  }
  .favorites {
    display: flex;
  }
  .shopping-cart,
  .favorites {
    width: 7.3rem;
    height: 3rem;
  }
  .shopping-cart a,
  .favorites a,
  .left-side a {
    font-size: 18px;
  }
}
