.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.8rem;
}
.left-side {
  display: none;
  flex-direction: column;
}

.link-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.link {
  display: inline-block;
  padding: 10px 10px 0 0;
}
.left-side a,
.shopping-cart a,
.favorites a {
  font-size: var(--font-size-xxsmall);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.logo-homepage {
  display: flex;
  position: absolute;
  left: 48%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 2.5rem;
  margin-top: 0.3rem;
  padding: 0.5rem;
  flex-shrink: 0;
}

.logo-homepage img {
  max-width: 100%;
  height: auto;
}

.shopping-cart {
  display: flex;
  width: 5.2rem;
  height: 1.5rem;
  flex-shrink: 0;
  font-size: var(--font-size-xxsmall);
}
.favorites {
  display: none;
}
.shopping-cart a,
.favorites a {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.shopping-cart img,
.favorites img {
  width: 1.5rem;
  height: 1.5rem;
}
.right-side {
  display: flex;
  gap: 2.5rem;
}

@media (min-width: 1060px) {
  .header {
    height: 10rem;
    padding: 0.6rem 3rem;
  }
  .left-side {
    display: flex;
  }
  .logo-homepage {
    width: 9rem;
    height: 3rem;
    left: 50%;
  }
  .right-side {
    top: 6rem;
  }
  .favorites {
    display: flex;
  }
  .shopping-cart,
  .favorites {
    width: 7.3rem;
    height: 3rem;
  }
  .shopping-cart a,
  .favorites a,
  .left-side a {
    font-size: var(--font-size-small);
  }
}
