.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
  display: none;
  backdrop-filter: blur(8px);
}
.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: none;
}
.popup {
  width: 20rem;
  height: 25rem;
  padding: 1.25rem;
  background-color: transparent;
  text-align: left;
  border: none !important;
  background-color: var(--color-blue);
  color: var(--color-white);
  border: 0.1rem solid var(--color-white);
}
.popup h6 {
  margin: 1rem 0 1rem 0;
  font-size: var(--font-size-medium);
  font-weight: normal;
}
.popup label {
  display: block;
  text-align: left;
  margin: 1.25rem 0;
  font-size: var(--font-size-xsmall);
}
.popup input[type="email"] {
  width: 100%;
  padding: 0;
  margin: 0 1.25rem auto auto;
  border: none;
  background-color: transparent;
  font-size: var(--font-size-small);
  color: #fff;
  display: block;
  border-bottom: 0.1rem solid var(--color-white);
}
.popup-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: var(--font-size-xsmall);
  margin-top: 0.6rem;
}
.popup-checkbox label {
  display: block;
  text-align: left;
  margin: 0.6rem;
  font-size: var(--font-size-xsmall);
}
a.integrity-policy {
  color: #fff;
  text-decoration: none;
}
a.integrity-policy:hover {
  text-decoration: underline !important;
}
.popup-subscribe-button {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.8rem;
  font-size: var(--font-size-xsmall);
  font-weight: normal;
  color: #000;
  background-color: var(--color-blue);
  border: 0.1rem solid #000;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 0;
}
.popup-subscribe-button:hover {
  background-color: #fff;
  color: #000;
}

.popup-subscribe-button,
::placeholder {
  background-color: var(--color-blue);
  color: var(--color-white);
  border: 0.1rem solid var(--color-white);
}

#popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  color: var(--color-white);
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

@media (min-width: 700px) {
  .popup {
    width: 35rem;
    height: 32rem;
    padding: 1.5rem;
  }
  .popup h6 {
    font-size: var(--font-size-xlarge);
    margin: 2rem 0 2rem 0;
  }
  .popup label {
    font-size: var(--font-size-small);
    margin: 2rem 0;
  }
  .popup-checkbox {
    gap: 1rem;
  }
}

@media (min-width: 1000px) {
  .popup {
    width: 53rem;
    height: 42rem;
    padding: 2.5rem;
  }
  .popup p {
    font-size: var(--font-size-large);
    margin: 4rem 0 4rem 0;
  }
  .popup h6 {
    font-size: var(--font-size-xxlarge);
    margin: 3rem 0 3rem 0;
  }
  .popup label {
    font-size: var(--font-size-large);
    margin: 2rem 0;
  }
  .popup input[type="email"] {
    width: 100%;
    font-size: var(--font-size-large);
  }
  .popup-checkbox {
    gap: 1rem;
    font-size: var(--font-size-large);
  }
  .popup-subscribe-button {
    height: 4rem;
    font-size: var(--font-size-medium);
  }
  #popup-close {
    font-size: 2.5rem;
    right: 25px;
  }
}
